* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if,elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4

16

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [8]:
# Can not start with number or special characters
name_of_var = 2

In [9]:
x = 2
y = 3

In [10]:
z = x + y

In [11]:
print(z)

5

### Strings

In [12]:
'single quotes'

'single quotes'

In [13]:
"double quotes"

'double quotes'

In [15]:
"wrap lot's of other quotes"

"wrap lot's of other quotes"

### Printing

In [16]:
x = 'hello'

In [17]:
x

'hello'

In [18]:
print(x)

hello

In [19]:
num = 12
name = 'Sam'

In [20]:
print('My number is: {one}, and my name is: {two}'.format(one=num, two=name))

My number is: 12, and my name is: Sam

In [21]:
print(f'My number is: {num}, and my name is: {name}')

My number is: 12, and my name is: Sam

In [22]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Lists

In [23]:
[1,2,3]

[1, 2, 3]

In [24]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [25]:
my_list = ['a','b','c']

In [26]:
my_list

['a', 'b', 'c']

In [27]:
print(my_list)

['a', 'b', 'c']

In [28]:
my_list.append('d')

In [29]:
my_list

['a', 'b', 'c', 'd']

In [30]:
my_list[0]

'a'

In [31]:
my_list[1]

'b'

In [32]:
my_list[1:]

['b', 'c', 'd']

In [33]:
my_list[:1]

['a']

In [34]:
my_list[0] = 'NEW'

In [35]:
my_list

['NEW', 'b', 'c', 'd']

In [36]:
nest = [1,2,3,[4,5,['target']]]

In [37]:
nest[3]

[4, 5, ['target']]

In [38]:
nest[3][2]

['target']

In [39]:
nest[3][2][0]

'target'

### Dictionaries

In [40]:
d = {'key1':'item1','key2':'item2'}

In [41]:
d

{'key1': 'item1', 'key2': 'item2'}

In [42]:
d['key1']

'item1'

### Booleans

In [43]:
True

True

In [44]:
False

False

### Tuples

In [45]:
t = (1,2,3)

In [46]:
t[0]

1

In [47]:
t[0] = 'NEW'  #Tuples can't be appended

TypeError: 'tuple' object does not support item assignment

### Sets

In [48]:
{1,2,3}

{1, 2, 3}

In [49]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Comparison Operators

In [50]:
1 > 2

False

In [51]:
1 < 2

True

In [52]:
1 >= 1

True

In [53]:
1 <= 4

True

In [54]:
1 == 1

True

In [55]:
'hi' == 'bye'

False

## Logic Operators

In [56]:
(1 > 2) and (2 < 3)

False

In [57]:
(1 > 2) or (2 < 3)

True

In [58]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [59]:
if 1 < 2:
    print('Yep!')

Yep!

In [60]:
if 1 < 2:
    print('yep!')

yep!

In [61]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [62]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [ ]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

## for Loops

In [63]:
seq = [1,2,3,4,5]

In [64]:
for item in seq:
    print(item)

1
2
3
4
5

In [65]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [66]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [67]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [68]:
range(5)

range(0, 5)

In [69]:
for i in range(5):
    print(i)

0
1
2
3
4

In [70]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [71]:
x = [1,2,3,4]

In [72]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [73]:
[item**2 for item in x]

[1, 4, 9, 16]

## functions

In [74]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [75]:
my_func

In [76]:
my_func()

default

In [77]:
my_func('new param')

new param

In [78]:
my_func(param1='new param')

new param

In [79]:
def square(x):
    return x**2

In [80]:
out = square(2)

In [81]:
print(out)

4

In [82]:
out

4

## lambda expressions

In [83]:
def times2(var):
    return var*2

In [84]:
times2(2)

4

In [85]:
times = lambda var1: var1*2

In [86]:
times(2)

4

## map and filter

In [87]:
seq = [1,2,3,4,5]

In [88]:
map(times2,seq)

In [89]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [90]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [91]:
filter(lambda item: item%2 == 0,seq)

In [92]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [93]:
st = 'hello my name is Sam'

In [94]:
st.lower()

'hello my name is sam'

In [95]:
st.upper()

'HELLO MY NAME IS SAM'

In [96]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [97]:
tweet = 'Go Sports! #Sports'

In [98]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [99]:
tweet.split('#')[1]

'Sports'

In [100]:
d

{'key1': 'item1', 'key2': 'item2'}

In [101]:
d.keys()

dict_keys(['key1', 'key2'])

In [102]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [103]:
d.values()

dict_values(['item1', 'item2'])

In [104]:
lst = [1,2,3]

In [105]:
lst.pop()

3

In [106]:
lst

[1, 2]

In [107]:
'x' in [1,2,3]

False

In [108]:
'x' in ['x','y','z']

True

In [109]:
'y' in ['x', 'y', 'z']

True

# Done