# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general, if you have no programming experience, you should probably take my other course: [Complete Python Bootcamp](https://www.udemy.com/complete-python-bootcamp/?couponCode=PY20) instead.

**This notebook is just a code reference for the videos, no written explanations here**

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if,elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [2]:
1 + 1

2

In [ ]:
1 * 3

In [6]:
1 / 2

0.5

In [5]:
2 ** 4

16

In [4]:
4 % 2

0

In [3]:
5 % 2

1

In [7]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [8]:
# Can not start with number or special characters
name_of_var = 2

In [9]:
x = 2
y = 3

In [10]:
z = x + y

In [12]:
print(z)

5

### Strings

In [13]:
'single quotes'

'single quotes'

In [14]:
"double quotes"

'double quotes'

In [15]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [16]:
x = 'hello'

In [17]:
x

'hello'

In [18]:
print(x)

hello

In [19]:
num = 12
name = 'Sam'

In [24]:
print('My number is: {one}, and my name is: {two}'.format(one=num, two=name))

My number is: 12, and my name is: Sam

In [22]:
print(f'My number is: {num}, and my name is: {name}')

My number is: 12, and my name is: Sam

In [25]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Lists

In [26]:
[1,2,3]

[1, 2, 3]

In [27]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [28]:
my_list = ['a','b','c']

In [33]:
my_list

['a', 'b', 'c', 'd']

In [32]:
print(my_list)

['a', 'b', 'c', 'd']

In [29]:
my_list.append('d')

In [34]:
my_list

['a', 'b', 'c', 'd']

In [35]:
my_list[0]

'a'

In [36]:
my_list[1]

'b'

In [37]:
my_list[1:]

['b', 'c', 'd']

In [38]:
my_list[:1]

['a']

In [39]:
my_list[0] = 'NEW'

In [40]:
my_list

['NEW', 'b', 'c', 'd']

In [41]:
nest = [1,2,3,[4,5,['target']]]

In [42]:
nest[3]

[4, 5, ['target']]

In [43]:
nest[3][2]

['target']

In [44]:
nest[3][2][0]

'target'

### Dictionaries

In [45]:
d = {'key1':'item1','key2':'item2'}

In [46]:
d

{'key1': 'item1', 'key2': 'item2'}

In [47]:
d['key1']

'item1'

### Booleans

In [48]:
True

True

In [49]:
False

False

### Tuples

In [50]:
t = (1,2,3)

In [51]:
t[0]

1

In [52]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [53]:
{1,2,3}

{1, 2, 3}

In [54]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Comparison Operators

In [55]:
1 > 2

False

In [56]:
1 < 2

True

In [57]:
1 >= 1

True

In [58]:
1 <= 4

True

In [59]:
1 == 1

True

In [60]:
'hi' == 'bye'

False

## Logic Operators

In [61]:
(1 > 2) and (2 < 3)

False

In [62]:
(1 > 2) or (2 < 3)

True

In [63]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [64]:
if 1 < 2:
    print('Yep!')

Yep!

In [65]:
if 1 < 2:
    print('yep!')

yep!

In [66]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [67]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [ ]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

## for Loops

In [69]:
seq = [1,2,3,4,5]

In [70]:
for item in seq:
    print(item)

1
2
3
4
5

In [71]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [72]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [73]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [74]:
range(5)

range(0, 5)

In [75]:
for i in range(5):
    print(i)

0
1
2
3
4

In [76]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [77]:
x = [1,2,3,4]

In [78]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [79]:
[item**2 for item in x]

[1, 4, 9, 16]

## functions

In [81]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [82]:
my_func

In [83]:
my_func()

default

In [84]:
my_func('new param')

new param

In [85]:
my_func(param1='new param')

new param

In [86]:
def square(x):
    return x**2

In [87]:
out = square(2)

In [88]:
print(out)

4

In [89]:
out

4

## lambda expressions

In [91]:
def times2(var):
    return var*2

In [92]:
times2(2)

4

In [96]:
times = lambda var1: var1*2

In [97]:
times(2)

4

## map and filter

In [101]:
seq = [1,2,3,4,5]

In [102]:
map(times2,seq)

In [103]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [104]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [105]:
filter(lambda item: item%2 == 0,seq)

In [108]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [109]:
st = 'hello my name is Sam'

In [110]:
st.lower()

'hello my name is sam'

In [111]:
st.upper()

'HELLO MY NAME IS SAM'

In [112]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [113]:
tweet = 'Go Sports! #Sports'

In [114]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [115]:
tweet.split('#')[1]

'Sports'

In [116]:
d

{'key1': 'item1', 'key2': 'item2'}

In [117]:
d.keys()

dict_keys(['key1', 'key2'])

In [118]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [119]:
d.values()

dict_values(['item1', 'item2'])

In [120]:
lst = [1,2,3]

In [121]:
lst.pop()

3

In [122]:
lst

[1, 2]

In [123]:
'x' in [1,2,3]

False

In [124]:
'x' in ['x','y','z']

True

# Great Job!